body{
    background: #f0f2f5;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.apply-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="file"],
button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-top: 5px;
}

button {
    background-color: #0056b3;
    width: 50%;
    margin-left: 140px;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
